<div class='form-container'>
  <div class="form">
    <div class="title-form">Welcome</div>
    <div class="subtitle-form">Let's update the Post!</div>

    <%= simple_form_for [@post], method: :post do |f| %>
      <div class="input-container ic1">
        <%= f.input :name, label: false, class: 'input', error: 'Username is mandatory, please specify one' %>
        <div class="cut"></div>
        <label for="fullname" class="placeholder">Full Name</label>
      </div>
      <div class="input-container ic2">
        <%= f.input :address, label: false, class: 'input' %>
        <div class="cut"></div>
        <label for="address" class="placeholder">Address</label>
      </div>

      <div class="input-container ic2">
        <%= f.input :description, label: false, class: 'input' %>
        <div class="cut"></div>
        <label for="description" class="placeholder">Description</>
      </div>

      <div class="input-container ic2">
        <%= f.input :price_per_night, label: false, class: 'input' %>
        <div class="cut"></div>
        <label for="pricepernight" class="placeholder">Price/Night</>
      </div>

      <div class="input-container ic2">
        <%= f.input :number_of_guests, label: false, class: 'input' %>
        <div class="cut"></div>
        <label for="numberofguests" class="placeholder">Guests</>
      </div>

      <div class="btnContainer">
        <%= f.submit "Update Task", class:"submit" %>
        <%= link_to "Back", posts_path, class:"backbtn" %>
      </div>
    <% end %>

  </div>
</div>
