
<h2>All Posts - (<%= @posts.count %>) -
  <%= link_to "New Post", new_post_path %>
</h2>

<div class="container-post">
  <% @posts.each do |t| %>
    <div class="card">
      <div>
        <p><u>Name:</u>  <%= t.name  %></p>
        <p><u>Description:</u> <br><%= t.description %></p>
      </div>
      <span><%= link_to "Show", post_path(t) %></span>
    </div>
  <% end %>
</div>
