<div class="title">
  <h2>All Posts - (<%= @posts.count %>)</h2>
  <h2><%= link_to "New Post", new_post_path %></h2>
</div>


<div class="container-post">
  <% @posts.each do |t| %>
    <div class="card">
      <div>
        <p class="div1"><u>Name:</u>  <%= t.name  %></p>
        <p class="div2"><u>Description:</u> <br><%= t.description %></p>
        <p class="div3"><u>Address:</u> <br><%= t.address %></p>
      </div>
      <span><%= link_to "Show", post_path(t) %></span>
    </div>
  <% end %>
</div>

<script>
  ScrollReveal().reveal('.card', { delay: 200 });
  ScrollReveal().reveal('.div1', { delay: 250 });
  ScrollReveal().reveal('.div2', { delay: 300 });
  ScrollReveal().reveal('.div3', { delay: 350 });
</script>
