<h2>All Posts - (<%= @posts.count %>)</h2>

<div class="card-layout">
  <% @posts.each do |t| %>
    <div class="card-layout__item">
      <%= t.name  %>
      <%= t.address  %>
      <%= t.description  %>
      <%= t.price_per_night  %>
      <%= t.number_of_guests  %>
      <%= link_to "Show", post_path(t) %>
      <br>
    </div>
  <% end %>
</div>



<!-- Container -->
<div class="accordion">
    <!-- Collapsed item -->
    <div class="accordion__item accordion__item--collapsed">
        <!-- Heading -->
        <div class="accordion__header">
            <!-- The toggle icon -->
            <div class="accordion__toggle">...</div>

            <!-- The title -->
            <div class="accordion__title">...</div>
        </div>

        <!-- The content -->
        <div class="accordion__content">...</div>
    </div>

    <!-- Expanded item -->
    <div class="accordion__item accordion__item--expanded">...</div>

    <!-- Repeat other item -->
    ...
</div>
