
<h2>All Posts - (<%= @posts.count %>)</h2>

<div class="container-post">
  <% @posts.each do |t| %>
  <div class="card">
      Name: <%= t.name  %> <br>
      Address: <%= t.address  %> <br>
      <%= t.description  %> <br>
      <%= t.price_per_night  %> <br>
      <%= t.number_of_guests  %> <br>
      <%= link_to "Show", post_path(t) %>
  </div>
  <% end %>
</div>
