<h2>All Posts - (<%= @posts.count %>)</h2>

<div class="card-layout">
  <% @posts.each do |t| %>
    <div class="card-layout__item">
      <%= t.name  %>
      <%= t.address  %>
      <%= t.description  %>
      <%= t.price_per_night  %>
      <%= t.number_of_guests  %>
      <%= link_to "Show", post_path(t) %>
      <br>
    </div>
  <% end %>
</div>
