<div class="title">
  <h2>All Posts - (<%= @posts.count %>)</h2>
  <h2><%= link_to "New Post", new_post_path %></h2>
</div>


<div class="container-post">
  <% @posts.each do |t| %>
    <div class="card">
      <div>
        <p><u>Name:</u>  <%= t.name  %></p>
        <p><u>Description:</u> <br><%= t.description %></p>
        <p><u>Address:</u> <br><%= t.address %></p>
      </div>
      <span><%= link_to "Show", post_path(t) %></span>
      <%= link_to "Delete", method: :delete %>
    </div>
  <% end %>
</div>
