<nav>
  <h2>All Posts - (<%= @posts.count %>)</h2>

  <div>
    <% @posts.each do |t| %>
      <%= t.name  %>
      <%= t.address  %>
      <%= t.description  %>
      <%= t.price_per_night  %>
      <%= t.number_of_guests  %>
      <%= link_to "Show", post_path(t) %>
    <% end %>
  </div>
</nav>
