<div class='form-container'>
  <div class="form">
    <div class="title-form">Welcome</div>
    <div class="subtitle-form">Let's create your account!</div>

    <%= simple_form_for [@post], method: :post do |f| %>
      <div class="input-container ic1">
        <%= f.input :name, label: false, class: 'input', error: 'Username is mandatory, please specify one' %>
        <div class="cut"></div>
        <label for="firstname" class="placeholder">First name</label>
      </div>
      <div class="input-container ic2">
        <%= f.input :address, label: false, class: 'input' %>
        <div class="cut"></div>
        <label for="lastname" class="placeholder">Last name</label>
      </div>

      <div class="input-container ic2">
        <%= f.input :description, label: false, class: 'input' %>
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</>
      </div>

      <div class="input-container ic2">
        <%= f.input :price_per_night, label: false, class: 'input' %>
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</>
      </div>

      <div class="input-container ic2">
        <%= f.input :number_of_guests, label: false, class: 'input' %>
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</>
      </div>

      <div class="btnContainer">
        <%= f.submit "Create Task", class:"submit" %>
        <%= link_to "Back", posts_path, class:"backbtn" %>
      </div>
    <% end %>

  </div>
</div>
