<div class="form">
<span>Please add a new post</span>
  <%= simple_form_for [@post_new], method: :post do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.button :submit, "Book Me" %>
  <% end %>

  <%= link_to  "Back to Hompage", posts_path %>

</div>
