<div class="card-container">
  <div class="card-wrapper">
    <div class="card">
      <div class="name field">
        <span>Name: </span>
        <%= @post.name %>
      </div>

      <div class="address field">
        <span>Address: </span>
        <%= @post.address %>
      </div>

      <div class="description">
        <span>Description: </span>
        <%= @post.description %>
      </div>

      <div class="pernight">
        <span>Price Per Night: </span>
        <%= @post.price_per_night %>
      </div>

      <div class="guests">
        <span>Number Of Guests: </span>
        <%= @post.number_of_guests %>
      </div>

      <div class="buttons">
        <%= link_to "Back", posts_path %>
        <%= link_to "Edit", edit_post_path %>
        <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  %>
      </div>
    </div>
  </div>
</div>
